.loginpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f0f2f5;
}

.login__wrapper {
  width: 70%;
  height: 70%;
  border-radius: 10px;

  display: flex;
}

.login__left,
.login__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__logo__text {
  font-size: 50px;
  color: #1775ee;
  font-weight: 700;
  margin-bottom: 10px;
}

.login__logo__desc {
  font-size: 20px;
}

.register__input__box {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register__input__box input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.register__input__box input:focus {
  outline: none;
}

.login__button {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;

  transition: all ease-in-out 200ms;
}

.login__button:hover {
  transform: scale(0.98);
  color: black;
}

.login__link {
    margin-left: 10px;
}

.login__new {
  padding: 0 10px;
  font-size: 19px;
}

.loginpage a {
  color: #1775ee;
}

.loginpage a:hover {
  color: rebeccapurple;
}
