.updateProfile {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.up__heading {
  position: absolute;
  top: 55px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: wheat;
}

.up__wrapper {
  padding: 10px;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.up__left,
.up__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.updateProfile input:focus {
  outline: none;
}

.updateProfile input {
  padding: 15px;
  width: 550px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}

.up__relationship {
  padding: 17px;
  width: 550px;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  margin: 5px 0;
  cursor: pointer;
}

.up__profile__container {
  padding: 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 10px;
  width: 300px;
  color: black;
  font-weight: 500;
}

.updateProfile span {
  position: absolute;
  bottom: 55px;
}

.up__update {
  position: absolute;
  left: 50%;
  bottom: 14%;
  transform: translateX(-50%);
  padding: 10px 20px;
  width: 200px;
  border: none;
  background-color: #171717;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  transform-origin: 0% 50%;
}

.up__update:hover {
  transform: scale(1.1) translateX(-50%);
}

.up__update:disabled {
  cursor: not-allowed;
}

.up__profile__picture__container {
  position: absolute;
  right: 0;
  bottom: 28%;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up__profile__picture__container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.up__cancel {
  cursor: pointer;
  color: white;
}

.up__progress__bar {
  position: absolute;
  bottom: 21%;
  right: 20%;
  width: 200px;
}

.up__back__button {
  position: absolute;
  top: 8%;
  padding: 6px;
  width: 200px;
  left: 11%;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  background-color: #171717;
  color: white;
}

.up__back__button:hover {
  transform: scale(0.95);
}

.customError {
  position: absolute !important;
  top: 18% !important;
  left: 11% !important;
}

.up__info {
  position: absolute;
  bottom: 7%;
  font-weight: 500;
  opacity: 0.5;
  color: beige;
  word-spacing: 2px;
  text-transform: capitalize;
}

@media only screen and (max-width: 770px) {
  .up__wrapper {
    flex-direction: column;
  }

  .up__loader {
    display: none;
  }

  .updateProfile input {
    padding: 12px;
  }

  .up__relationship {
    padding: 14px;
  }

  .up__update {
    left: 50%;
    bottom: 3%;
  }

  .up__left i {
    position: absolute;
    top: 48%;
  }

  .up__profile__picture__container {
    right: 0;
    bottom: 15%;
    right: 20%;
  }

  .customError {
    position: absolute;
    top: 7% !important;
    left: 50% !important;
    right: 0;
  }

  .up__heading {
    top: 18px;
  }

  .up__info {
    bottom: 9.5%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .updateProfile {
    overflow-x: hidden;
  }

  .up__wrapper {
    width: 100%;
    padding: 10px 15px;
  }

  .up__heading {
    font-size: 18px;
  }

  .up__relationship {
    width: 100%;
  }

  .updateProfile input {
    padding: 7px 0;
    padding-left: 15px;
    width: 100%;
  }

  .up__back__button {
    width: 100px;
    font-size: 12px;
    left: 69%;
  }

  .customError {
    width: 60%;
    left: 4% !important;
    top: 6% !important;
    font-size: 13px;
  }

  .up__profile__picture__container {
    flex-direction: column;
    right: 5%;
    bottom: 12.5%;
  }

  .up__info {
    font-size: 11px;
    bottom: 9%;
  }

  .up__update {
    font-size: 14px;
    width: 150px;
  }
}
