.comment__input:focus {
  outline: none;
}

.delete__comment {
  transition: all ease-in-out 100ms;
}

.delete__comment:hover {
  transform: scale(0.9);
  color: white;
}

.delete__comment:disabled {
  cursor: not-allowed;
}

.comment__input {
  padding: 10px;
  padding-left: 20px;
  width: 80%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
}

@media only screen and (max-width: 770px) {
  .comment__input {
    font-size: 14px;
    width: 70%;
  }
}
