.navbar {
  height: 50px;
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  color: white;
  z-index: 99;

  position: sticky;
  top: 0;
}

.nav__left {
  flex: 3;
}

.logo {
  width: 60%;
  text-align: center;
}

.logo__text {
  font-family: "Grechen Fuemen", cursive, sans-serif;
  font-family: "Kaushan Script", cursive, sans-serif;

  font-size: 30px;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav__center {
  flex: 5;
}

.nav__input__container {
  width: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 10px;
}

.input__icon {
  font-size: 22px !important;
  color: black;
}

.nav__input__container input {
  border: none;
  padding: 4px;
  width: 80%;
}

.nav__input__container input:focus {
  outline: none;
}

.nav__right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right__links span {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.right__links span:hover {
  color: rgb(202, 59, 59);
}

.nav__notifications {
  display: flex;
  align-items: center;
}

.nav__notification {
  margin-right: 16px;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.notification__modal {
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  background-color: rebeccapurple;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  transform-origin: top;
  transform: scale(0);
}

.notification__modal.active {
  transform: scale(1);
}

.notification__modal span {
  margin-top: 4px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.markAsRead {
  margin: 15px 0;
  padding: 5px;
  border: none;
  width: 200px;
  font-weight: 500;
  border-radius: 6px;
  color: rebeccapurple;
}

.nav__notification:hover {
  color: rgb(114, 59, 202);
  transform: scale(1.1);
}

.nav__notification:hover .nav__badge {
  color: black;
}

.nav__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;

  transition: all ease-in-out 200ms;
}

.nav__img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 770px) {
  .navbar {
    padding: 0 10px;
  }

  .nav__left {
    flex: 2;
  }

  .logo__text {
    font-size: 23px;
  }

  .nav__center {
    flex: 3;
  }

  .nav__input__container {
    width: 90%;
  }

  .nav__input__container input {
    font-size: 14px;
  }

  .nav__right {
    flex: 5;
    justify-content: space-between;
  }

  .right__links span {
    font-size: 13px;
  }

  .nav__badge {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    width: 100vw;
    padding: 0 10px 0 20px;
  }

  .nav__left {
    flex: 3;
  }

  .nav__notification:not(:nth-child(2)) {
    display: none;
  }

  .nav__center {
    flex: 7;
  }

  .nav__right {
    flex: 2;
  }

  .right__links {
    display: none;
  }

  /* .nav__input__container */

  .right__links .nav__home__link {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .right__links span {
    font-size: 11px;
  }
}
